#Reusable workflow to create PR from developer branch
name: Create-PR-From-Developer-Branch
run-name: Create-PR-From-Developer-Branch
#Author martin francis kallukalam
on:
  workflow_call:
   inputs:
      REFERENCE_NUMBER:
        description: 'Reference(ticket) number to include in the title of PR and milestone.'     
        required: true
        type: string
        default: 'RITM100000'
      BASE_BRANCH_FOR_PR:
        required: true
        type: string
      HEAD_BRANCH_FOR_PR:
        required: true
        type: string
env:
  HEAD_BRANCH_FOR_PR: ${{ inputs.HEAD_BRANCH_FOR_PR }}
  BASE_BRANCH_FOR_PR: ${{ inputs.BASE_BRANCH_FOR_PR }}
  MILESTONE_TITLE: ${{ inputs.REFERENCE_NUMBER }}
jobs:
  Create-Pull-Request:
    name: Create-Pull-Request
    runs-on: [ubuntu-latest]
    permissions:
     contents: write
     pull-requests: write

    steps:
      - name: Checkout-Artifacts-Branch
        id: checkout-artifacts-branch
        uses: actions/checkout@v4
        with:
         ref: '${{ env.BASE_BRANCH_FOR_PR }}'
         fetch-depth: 10
         fetch-tags: 'false'
        
      - name: Create-Or-Get-MileStone
        id: create-or-get-milestone
        uses: sv-tools/create-milestone-action@v2.0.0
        with:
         token: ${{ secrets.GITHUB_TOKEN }}
         title: "${{ env.MILESTONE_TITLE }}"
         description: "This milestone captures all PRs and Issues for the ticket ${{ inputs.REFERENCE_NUMBER }}"
      - name: Get-Current-Time
        id: get-current-time
        run: |
         #echo "PR_OPEN_DATE=$(TZ="US/Eastern" date | sed 's/ /-/g' | sed 's/:/-/g')" >> "$GITHUB_OUTPUT"
         echo "PR_OPEN_DATE=$(TZ="US/Eastern" date  +"EST-%Y-%m-%d-%H-%M-%S")" >> "$GITHUB_OUTPUT"
      - name: Print-Relevant-Info
        id: print-relevant-info
        run: |
         echo "Reference number is ${{ inputs.REFERENCE_NUMBER }}"
         echo "PR base branch is ${{ inputs.BASE_BRANCH_FOR_PR }}"
         echo "PR head branch is ${{ inputs.HEAD_BRANCH_FOR_PR }}"
         echo "PR milestone number is ${{ steps.create-or-get-milestone.outputs.number }}"
         echo "PR milestone name is ${{ steps.create-or-get-milestone.outputs.title }}"
      - name: Create-PR-For-Merging-To-Artifacts-Branch
        env:
         GH_TOKEN: ${{ github.token }}
        id: create-pr-for-squash-merging-to-artifacts-branch
        run: |
         gh pr create --squash --title "PR Opened by: ${{ github.triggering_actor }} for: ${{ inputs.REFERENCE_NUMBER }} at: US/Eastern ${{ steps.get-current-time.outputs.PR_OPEN_DATE }}" \
           --base "${{ inputs.BASE_BRANCH_FOR_PR }}" --head "${{ inputs.HEAD_BRANCH_FOR_PR }}" \
           --body "This PR is Auto-Generated by GHA Workflow Run ID: ${{ github.run_id }}" \
           --milestone "${{ steps.create-or-get-milestone.outputs.title }}"
         
