#Reusable workflow to create PR from developer branch
name: Create-PR-From-Developer-Branch
run-name: Create-PR-From-Developer-Branch
#Author martin francis kallukalam
on:
  workflow_call:
   inputs:
      REFERENCE_NUMBER:
        description: 'Reference(ticket) number to include in the title of PR and milestone.'     
        required: true
        type: string
        default: 'RITM100000'
      BASE_BRANCH_FOR_PR:
        required: true
        type: string
      HEAD_BRANCH_FOR_PR:
        required: true
        type: string
env:
  HEAD_BRANCH_FOR_PR: ${{ inputs.HEAD_BRANCH_FOR_PR }}
  BASE_BRANCH_FOR_PR: ${{ inputs.BASE_BRANCH_FOR_PR }}
  MILESTONE_TITLE: ${{ inputs.REFERENCE_NUMBER }}
jobs:
  Create-Pull-Request:
    env:
     GH_TOKEN: ${{ github.token }}
    name: Create-Pull-Request-for-Milestone-${{ inputs.REFERENCE_NUMBER }}
    outputs:
     pr_url: ${{ steps.get-pr-url.outputs.pr_url }}
    runs-on: [ubuntu-latest]
    permissions:
     contents: write
     pull-requests: write

    steps:
      - name: Checkout-Artifacts-Branch
        id: checkout-artifacts-branch
        uses: actions/checkout@v6
        with:
         ref: '${{ env.BASE_BRANCH_FOR_PR }}'
         fetch-depth: 10
         fetch-tags: 'false'
      - name: Install-GH-Milestone-Extension
        id: install-gh-milestone-extension
        run: |
         echo "Installing milestone gh extension."
         gh extension install valeriobelli/gh-milestone
      - name: Create-Or-Get-MileStone
        id: create-or-get-milestone
        continue-on-error: false
        run: |
          MILESTONE_COUNT=$(gh milestone list  --state all -q "${{ inputs.REFERENCE_NUMBER }}" --json title |jq '.[] | select(.title == "${{ inputs.REFERENCE_NUMBER }}")'  |jq -s '[.[]]'  | jq '. | length')
          if [ "$MILESTONE_COUNT" -eq 1 ]; then
           echo "Milestone ${{ inputs.REFERENCE_NUMBER }} exist.Continuing without creating a new milestone."
          else
           echo "Milestone doesnot exist.Creating a new milestone ${{ inputs.REFERENCE_NUMBER }}"
           gh milestone create --title "${{ inputs.REFERENCE_NUMBER }}"
          fi
          echo "title=${{ inputs.REFERENCE_NUMBER }}" >> "$GITHUB_OUTPUT"
          echo "number=$(gh milestone list  -q "${{ inputs.REFERENCE_NUMBER }}" --state all --json number,title --jq '.[] | select(.title == "${{ inputs.REFERENCE_NUMBER }}") | .number')" >> "$GITHUB_OUTPUT"
      - name: Get-Current-Time
        id: get-current-time
        run: |
         echo "PR_OPEN_DATE=$(TZ="US/Eastern" date  +"EST-%Y-%m-%d-%H-%M-%S")" >> "$GITHUB_OUTPUT"
      - name: Print-Relevant-Info
        id: print-relevant-info
        run: |
         echo "reference number is ${{ inputs.REFERENCE_NUMBER }}"
         echo "pr base branch is ${{ inputs.BASE_BRANCH_FOR_PR }}"
         echo "pr head branch is ${{ inputs.HEAD_BRANCH_FOR_PR }}"
         echo "pr milestone number is ${{ steps.create-or-get-milestone.outputs.number }}"
         echo "pr milestone name is ${{ steps.create-or-get-milestone.outputs.title }}"
      - name: Create-PR-For-Merging-To-Artifacts-Branch
        env:
         GH_TOKEN: ${{ github.token }}
        id: create-pr-for-merging-to-artifacts-branch
        run: |
         PR_OPEN_COUNT=$(gh pr list --head ${{ inputs.HEAD_BRANCH_FOR_PR }} --state open --json number  | jq length)
         if [ "$PR_OPEN_COUNT" -gt 0 ]; then
           echo "There is a PR already open on ${{ inputs.HEAD_BRANCH_FOR_PR }}.Using existing PR."
         else
           echo "Opening PR on ${{ inputs.HEAD_BRANCH_FOR_PR }}"
           gh pr create --title "PR Opened by: ${{ github.triggering_actor }} for: ${{ inputs.REFERENCE_NUMBER }} at: ${{ steps.get-current-time.outputs.PR_OPEN_DATE }}" \
             --base "${{ inputs.BASE_BRANCH_FOR_PR }}" --head "${{ inputs.HEAD_BRANCH_FOR_PR }}" \
             --body "This PR is Auto-Generated by GHA Workflow Run ID: ${{ github.run_id }}" \
             --milestone "${{ steps.create-or-get-milestone.outputs.title }}"
         fi
      - name: Get-PR-URL
        env:
         GH_TOKEN: ${{ github.token }}
        id: get-pr-url
        run: |
         PR_URL=$(gh pr list --head '${{ inputs.HEAD_BRANCH_FOR_PR }}' --state open --json url --jq '.[].url')
         echo "pr_url="$PR_URL"" >> "$GITHUB_OUTPUT"
  Notify-MS-Teams:
     name: Notify-MS-Teams
     needs: Create-Pull-Request
     uses: martin2176/ecs-apim-workflows/.github/workflows/msteams-notification.yml@main
     with:
      CHANNEL_NAME: "PR_APPROVAL_CHANNEL"
      MESSAGE_TITLE: "PR Opened by: ${{ github.triggering_actor }} is ready for review."
      MESSAGE_BODY: "PR Opened by: ${{ github.triggering_actor }} for: ${{ inputs.REFERENCE_NUMBER }} generated by Workflow Run ID: ${{ github.run_id }} is ready for review. You can review the PR at this URL ${{needs.Create-Pull-Request.outputs.pr_url}}"
        
