#Reusable workflow to extract artifacts from Dev APIM instance
name: Extract-Artifacts-from-Dev-APIM
run-name: Extract-Artifacts-from-Dev-APIM
#Author martin francis kallukalam
on:
  workflow_call:
    inputs:
      EXTRACTOR_OPTION:
        required: true
        type: string
      API_SPECIFICATION_FORMAT:
        required: true
        type: string
      REFERENCE_NUMBER:
        required: true
        type: string
      REFTOCHECKOUTFOR_EXTRACTORCONFIG:
        required: true
        type: string
      PULL_REQUEST_LABEL:
        required: true
        type: string
      BASE_BRANCH_FOR_PR:
        required: true
        type: string
      HEAD_BRANCH_FOR_PR:
        required: true
        type: string
      CONFIGURATION_YAML_PATH:
        required: true
        type: string
      API_MANAGEMENT_ENVIRONMENT:
        required: true
        type: string
concurrency:
 group: extract-artifacts-from-dev-apim
 cancel-in-progress: false

env:
  apiops_release_version: v7.0.0-alpha.3.0.1
  Logging__LogLevel__Default: ${{ vars.LOG_LEVEL }}
  DEBUG_STEPS: ${{ vars.DEBUG_STEPS }}
jobs:
  Extract-Artifacts:
    name: Extract-Artifacts
    runs-on: ubuntu-latest
    environment:  ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}
    steps:
      - name: Checkout-Configuration-File
        id: Checkout-Configuration-File
        uses: actions/checkout@v6
        with:
         ref: '${{ inputs.REFTOCHECKOUTFOR_EXTRACTORCONFIG }}'