#Reusable workflow to publish artifacts to Test APIM instance
name: MSteams-Notification
run-name: MSteams-Notification
#Author martin francis kallukalam
on:
  workflow_call:
    inputs:
      CHANNEL_NAME:
        required: true
        type: string
      MESSAGE_TITLE:
        required: true
        type: string
        default: "PR Read for Review"
      MESSAGE_BODY:
        required: true
        type: string
        default: "Pls check with PR tab in the associated Git repo for details on the PR"
env:
  PR_APPROVAL_CHANNEL: "https://mydigitalspace.webhook.office.com/webhookb2/dd20a723-7134-4339-bc5e-acdd54e923f3@3c2f8435-994c-4552-8fe8-2aec2d0822e4/IncomingWebhook/6423658c1b2b4cbea19f40605a734635/d9490dad-aa85-4c35-b4b0-48b407cf9309/V2F01iTb8JUIgTS8MbHmEFl_3TIC5IVj5vOZegVkWztjg1"
  PROD_DEPLOYMENT_CHANNEL: "https://mydigitalspace.webhook.office.com/webhookb2/dd20a723-7134-4339-bc5e-acdd54e923f3@3c2f8435-994c-4552-8fe8-2aec2d0822e4/IncomingWebhook/2a291b7063694bd9a45462a4f827989e/d9490dad-aa85-4c35-b4b0-48b407cf9309/V2oEZHj6SpUSykWyIaTPagGnvCK406K3-2Jm7qMsvwD_41"
  TEST_DEPLOYMENT_CHANNEL: "https://mydigitalspace.webhook.office.com/webhookb2/dd20a723-7134-4339-bc5e-acdd54e923f3@3c2f8435-994c-4552-8fe8-2aec2d0822e4/IncomingWebhook/55a6ee17a92348c698bcc8e092fbaf89/d9490dad-aa85-4c35-b4b0-48b407cf9309/V2-gMTYFHhFYt4MMxtjqKlcOmYdhIxtBIkf5eEFGDZQB41"
  DEFAULT_CHANNEL: "https://mydigitalspace.webhook.office.com/webhookb2/dd20a723-7134-4339-bc5e-acdd54e923f3@3c2f8435-994c-4552-8fe8-2aec2d0822e4/IncomingWebhook/82336086b76b4c81ae98d1a458f97062/d9490dad-aa85-4c35-b4b0-48b407cf9309/V2jogC3mFVbSHA96fnlExNpc8nNWTwl5GKvPI4XqENKxM1"
jobs:
  Post-Message:
    name: Post-Message-to-"${{ inputs.CHANNEL_NAME }}"
    runs-on: ubuntu-latest
    steps:
      - name: Select-Webhook
        id: select-webhook
        run: |
         webhook=$(case "${{ inputs.CHANNEL_NAME }}" in
         "PR_APPROVAL_CHANNEL") echo ${{ env.PR_APPROVAL_CHANNEL }};;
         "TEST_DEPLOYMENT_CHANNEL") echo ${{ env.TEST_DEPLOYMENT_CHANNEL }};;
         "PROD_DEPLOYMENT_CHANNEL") echo ${{ env.PROD_DEPLOYMENT_CHANNEL }};;
         *) echo ${{ env.DEFAULT_CHANNEL }};;
         esac)
         echo
         echo
         echo
         echo "webhook="$webhook"" >> $GITHUB_OUTPUT
         echo "$webhook"
      - name: Set-JSON-Body
        id: set-json-body
        run: | 
         echo "{
         \"type\": \"message\",
         \"attachments\": [
         {
         \"contentType\": \"application/vnd.microsoft.card.adaptive\",
         \"contentUrl\": null,
         \"content\": {
         \"\$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",
         \"type\": \"AdaptiveCard\",
         \"version\": \"1.2\",
         \"msteams\": {\"width\": \"full\"},
         \"body\": [
         {
         \"type\": \"TextBlock\",
         \"text\": \"${{ inputs.MESSAGE_TITLE }}\",
         \"size\": \"Medium\",
         \"wrap\": true,
         \"weight\": \"Bolder\"
         },
         {
         \"type\": \"TextBlock\",
         \"text\": \"${{ inputs.MESSAGE_BODY }}\",
         \"wrap\": true
         }]}}]
         }" > ${{ GITHUB.WORKSPACE }}/body.json
         curl --silent --location --request POST ${{ steps.select-webhook.outputs.webhook }}  --header 'Content-Type: application/json'  --data @${{ GITHUB.WORKSPACE }}/body.json
