#Reusable workflow to publish artifacts to Dev APIM instance
name: Publish-Artifacts-to-Dev-APIM
run-name: Publish-Artifacts-to-Dev-APIM
#Author martin francis kallukalam
on:
  workflow_call:
    inputs:
      API_MANAGEMENT_ENVIRONMENT:
        required: true
        type: string
      CONFIGURATION_YAML_PATH:
        required: true
        type: string
      API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH:
        required: true
        type: string
      PUBLISH_ARTIFACTS_CHOICE:
        required: true
        type: string
      COMMITID:
        required: true
        type: string
      BRANCH_TO_DEPLOY_FROM:
        required: true
        type: string
      REFTOCHECKOUTFOR_PUBLISHERCONFIG:
        required: true
        type: string
# PUBLISH_ARTIFACTS_CHOICE has possible three values listed below
# "publish-delta-artifacts-in-latest-commit"
# "publish-delta-artifacts-in-specific-commit"
# "publish-all-artifacts-in-repo-to-latest-commit"
# "publish-all-artifacts-in-repo-to-specific-commit"
concurrency:
 group: publish-artifacts-to-apim-environment-${{ inputs.API_MANAGEMENT_ENVIRONMENT }}
 cancel-in-progress: false

env:
  apiops_release_version: v7.0.0-alpha.3.0.1
  Logging__LogLevel__Default: ${{ vars.LOG_LEVEL }}
  COMMITID: ${{ inputs.COMMITID }}
  DEBUG_STEPS: ${{ vars.DEBUG_STEPS }}
  
jobs:
    Publish-Artifacts-to-Dev-APIM:
     name: Publish-Artifacts-to-Test-APIM-From-CommitID-${{ inputs.COMMITID }}
     runs-on: ubuntu-latest
     environment: ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}
     steps:
      - name: Print-Input-From-Calling-Workflow
        id: print-input-from-calling-workflow
        run: |
         echo "apimanagementenvironment is ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}"
         echo "configurationyamlpath is ${{ inputs.CONFIGURATION_YAML_PATH }}"
         echo "apimanagementserviceoutputfolderpath is ${{ inputs.API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH }}"
         echo "publishartifactschoice is ${{ inputs.PUBLISH_ARTIFACTS_CHOICE }}"
         echo "commitid is: ${COMMITID}"
         #branch name as commitid means everything in the branch. ie. branch is checked out as ref in checkout step
         echo "branch to deploy artifacts from is: ${{ inputs.BRANCH_TO_DEPLOY_FROM }}"
      - name: Checkout-Dev-Branch
        id: checkout-dev-branch
        if: ${{ inputs.API_MANAGEMENT_ENVIRONMENT == 'dev' }}
        uses: actions/checkout@v4
        with:
         ref: '${{ inputs.REFTOCHECKOUTFOR_PUBLISHERCONFIG }}'
      - name: Copy-ConfigurationOverride-File
        id: copy-configurationoverride-file
        if: ${{ inputs.API_MANAGEMENT_ENVIRONMENT == 'dev' }}
        run: |
         echo "Copying override configuration file to runner.temp"
         if [ -f "${{ inputs.CONFIGURATION_YAML_PATH }}" ]
          then
           echo "File exists.Cat-ing override configuration file"
           cp ${{ inputs.CONFIGURATION_YAML_PATH }} ${RUNNER_TEMP}/configuration-publisher.yml
           cat ${RUNNER_TEMP}/configuration-publisher.yml
          else
           echo "File does not exist.Copying an empty file"
           cp /dev/null ${RUNNER_TEMP}/configuration-publisher.yml
         fi
         echo "Configuration override file location is:  ${{ runner.temp }}/configuration-publisher.yml"
      - name: Checkout-Artifacts-Branch
        id: checkout-artifacts-branch
        uses: actions/checkout@v6
        with:
         ref: '${{ inputs.COMMITID }}' ## when using specific commit such as deploying a rel tag or a specific commitid
         fetch-tags: 'true'
         fetch-depth: 50
      - name: List-Top-Level-Contents-Of-Artifacts-Folder
        id: list-top-level-contents-of-artifacts-folder
        if: ${{ env.DEBUG_STEPS == 'true' }}
        run: |
         echo "Listing the top level artifact directories"
         ls -al ${{ GITHUB.WORKSPACE }}/${{ inputs.API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH }} || true 
      - name: List-All-Artifacts-Files-Captured-In-the-Commit
        id: list-all-artifact-files-changes-captured-in-the-commit
        if: ${{ env.DEBUG_STEPS == 'true' && (inputs.PUBLISH_ARTIFACTS_CHOICE == 'publish-all-artifacts-in-repo-to-latest-commit' || inputs.PUBLISH_ARTIFACTS_CHOICE == 'publish-all-artifacts-in-repo-to-specific-commit') }}
        run: |
         echo "Listing all files in the repo"
         git ls-tree -r --name-only ${COMMITID}
      - name: List-Delta-Artifacts-Files-Captured-In-the-Commit
        id: list-delta-artifact-files-changes-captured-in-the-commit
        if: ${{ env.DEBUG_STEPS == 'true' && (inputs.PUBLISH_ARTIFACTS_CHOICE == 'publish-delta-artifacts-in-latest-commit' || inputs.PUBLISH_ARTIFACTS_CHOICE == 'publish-delta-artifacts-in-specific-commit') }}
        run:  |
         echo "Listing files changed in the commit"
         git diff --compact-summary --name-status -B -M -C ${COMMITID}^ ${COMMITID}
        #run: git diff --compact-summary ${COMMITID}^ ${COMMITID}
      - name: Run-Publisher
        id: run-publisher
        #if: ${{ always() }}
        shell: pwsh
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RESOURCE_GROUP_NAME: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          API_MANAGEMENT_SERVICE_NAME: ${{ secrets.API_MANAGEMENT_SERVICE_NAME }}
          API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH: ${{ GITHUB.WORKSPACE }}/${{ inputs.API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH }}
          CONFIGURATION_YAML_PATH: ${{ runner.temp }}/configuration-publisher.yml
        run: |
          $publish_artifacts_choice="${{ inputs.PUBLISH_ARTIFACTS_CHOICE }}"
          if ($publish_artifacts_choice -eq "publish-delta-artifacts-in-latest-commit") 
          {
          Write-Output "User have chosen to publish Delta Artifacts in latest Commit (ie Delta between latest and previous commit)"
          $env:COMMIT_ID="$env:COMMITID"
          Write-Output "Commitid is $env:COMMITID"
          }
          
          if ($publish_artifacts_choice -eq "publish-delta-artifacts-in-specific-commit") 
          {
          Write-Output "User have chosen to publish Delta Artifacts in Specific Commit (ie Delta between specific and previous commit)"
          $env:COMMIT_ID="$env:COMMITID"
          Write-Output "Commitid is $env:COMMITID"
          }
          if ($publish_artifacts_choice -eq "publish-all-artifacts-in-repo-to-latest-commit") 
          {
          Write-Output "User have chosen to publish All Artifacts in the branch uptil the latest commit"
          Write-Output "Commitid is not set (NULL because ALL arificats is specified)"
          }
          if ($publish_artifacts_choice -eq "publish-all-artifacts-in-repo-to-specific-commit") 
          {
          Write-Output "User have chosen to publish All Artifacts in the branch uptill the specific commit"
          Write-Output "Commitid is not set (NULL because ALL arificats is specified)"
          }
          Set-StrictMode -Version Latest
          $ErrorActionPreference = "Stop"
          $VerbosePreference = "Continue"
          $InformationPreference = "Continue"

          Write-Information "Setting name variables..."
          $releaseFileName = "publisher-linux-x64.zip"
          $executableFileName = "publisher"

          if ("${{ runner.os }}" -like "*win*") {
            $releaseFileName = "publisher-win-x64.zip"
            $executableFileName = "publisher.exe"
          }
          elseif ("${{ runner.os }}" -like "*mac*" -and "${{ runner.arch }}" -like "*arm*") {
            $releaseFileName = "publisher-osx-arm64.zip"
          }
          elseif ("${{ runner.os }}" -like "*mac*" -and "${{ runner.arch }}" -like "*x86_64*") {
            $releaseFileName = "publisher-osx-x64.zip"
          }
          Write-Information "Printing out all environment variables in the shell for debugging purpose..."
          gci env:
          
          Write-Information "Downloading release..."
          $uri = "https://github.com/Azure/apiops/releases/download/${{ env.apiops_release_version }}/$releaseFileName"
          $downloadFilePath = Join-Path "${{ runner.temp }}" $releaseFileName
          Invoke-WebRequest -Uri "$uri" -OutFile "$downloadFilePath"
          
          Write-Information "Extracting release..."
          $executableFolderPath = Join-Path "${{ runner.temp }}" "publisher"
          Expand-Archive -Path "$downloadFilePath" -DestinationPath "$executableFolderPath"
          $executableFilePath = Join-Path "$executableFolderPath" $executableFileName

          Write-Information "Setting file permissions..."
          if ("${{ runner.os }}" -like "*linux*")
          {
            & chmod +x "$executableFilePath"
            if ($LASTEXITCODE -ne 0) { throw "Setting file permissions failed."}
          }

          Write-Information "Running publisher..."
          & "$executableFilePath"              
          if ($LASTEXITCODE -ne 0) { throw "Running publisher failed."}

          Write-Information "Execution complete."     
          
