#Reusable workflow to publish artifacts to Test APIM instance
name: Publish-Artifacts-to-Test-APIM
run-name: Publish-Artifacts-to-Test-APIM
#Author martin francis kallukalam
on:
  workflow_call:
    inputs:
      API_MANAGEMENT_ENVIRONMENT:
        required: true
        type: string
      CONFIGURATION_YAML_PATH:
        required: true
        type: string
      API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH:
        required: true
        type: string
      PUBLISH_ARTIFACTS_CHOICE:
        required: true
        type: string
      COMMIT_TAG:
        required: true
        type: string
      BRANCH_TO_DEPLOY_FROM:
        required: true
        type: string
      REFTOCHECKOUTFOR_PUBLISHERCONFIG:
        required: true
        type: string
# PUBLISH_ARTIFACTS_CHOICE has one allowed value when deploying to test
# "publish-delta-artifacts-in-specific-commit"
concurrency:
 group: publish-to-test-apim-instance-matrixjob
 cancel-in-progress: false

env:
  apiops_release_version: v7.0.0-alpha.3.0.1
  Logging__LogLevel__Default: ${{ vars.LOG_LEVEL }}
  COMMIT_TAG: ${{ inputs.COMMIT_TAG }}
  DEBUG_STEPS: ${{ vars.DEBUG_STEPS }}

jobs:
    Publish-Artifacts-to-Test-APIM:
     name: Publish-Artifacts-to-Test-APIM-From-Tag-${{ inputs.COMMIT_TAG }}
     runs-on: ubuntu-latest
     ############environment: ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}
     steps:
      - name: Print-Input-From-Calling-Workflow
        id: print-input-from-calling-workflow
        run: |
         echo "apimanagementenvironment is ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}"
         echo "configurationyamlpath is ${{ inputs.CONFIGURATION_YAML_PATH }}"
         echo "apimanagementserviceoutputfolderpath is ${{ inputs.API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH }}"
         echo "publishartifactschoice is ${{ inputs.PUBLISH_ARTIFACTS_CHOICE }}"
         echo "commit_tag is: ${COMMIT_TAG}"
         echo "branch to deploy artifacts from is: ${{ inputs.BRANCH_TO_DEPLOY_FROM }}"
         echo "ref for publisher config is: ${{ inputs.REFTOCHECKOUTFOR_PUBLISHERCONFIG }}"
