#Reusable workflow to generate matrix jobs for deployment to Test APIM instance
name: Publish-Artifacts-to-Test-APIM-Matrix-Jobs-Controller
run-name: Publish-Artifacts-to-Test-APIM-Matrix-Jobs-Controller
#Author martin francis kallukalam
on:
  workflow_call:
    inputs:
      MILESTONE_TITLE:
        required: true
        type: string
      API_MANAGEMENT_ENVIRONMENT:
        required: true
        type: string
      BRANCH_TO_DEPLOY_FROM:
        required: true
        type: string
env:
  foo: bar
jobs:
    Generate-Matrix-Jobs-2:
     name: Generate-Matrix-Jobs-1
     environment: ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}
     runs-on: ubuntu-latest
     outputs:
       matrix: ${{ steps.generate-matrix.outputs.matrix }}
     steps:
      - name: Print-Input-From-Calling-Workflow
        id: print-input-from-calling-workflow
        run: |
         echo "milestone is ${{ inputs.MILESTONE_TITLE }}"
         echo "apimanagementenvironment is ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}"
         echo "branch to deploy artifacts is ${{ inputs.BRANCH_TO_DEPLOY_FROM }}"
      - name: Generate-Matrix
        id: generate-matrix
        run: |
         DYNAMIC_ARRAY='["item1", "item2", "item3"]'
         echo "matrix=$DYNAMIC_ARRAY" >> $GITHUB_OUTPUT
      - name: Print
        id: print
        run: |
          echo ${{ steps.generate-matrix.outputs.matrix }}
         
    Publish-Artifacts-to-Test-APIM-For-CommitID:
     needs: Generate-Matrix-Jobs
     strategy:
      max-parallel: 1
      matrix:
       commitid: ${{ fromJson(needs.Generate-Matrix-Jobs.outputs.matrix) }}
     uses: martin2176/ecs-apim-workflows/.github/workflows/publish-to-test-apim.yml@main
     with:
      COMMITID: ${{ matrix.commitid }}
      PUBLISH_ARTIFACTS_CHOICE: "publish-delta-artifacts-in-specific-commit"
      API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH: apimartifacts
      CONFIGURATION_YAML_PATH: configuration-publisher-test.yml
      API_MANAGEMENT_ENVIRONMENT: test
      BRANCH_TO_DEPLOY_FROM: ${{ inputs.BRANCH_TO_DEPLOY_FROM }} 
      REFTOCHECKOUTFOR_PUBLISHERCONFIG: test 
