#Reusable workflow to publish artifacts to Test APIM instance
name: Publish-Artifacts-to-Test-APIM
run-name: Publish-Artifacts-to-Test-APIM
#Author martin francis kallukalam
on:
  workflow_call:
    inputs:
      API_MANAGEMENT_ENVIRONMENT:
        required: true
        type: string
      CONFIGURATION_YAML_PATH:
        required: true
        type: string
      API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH:
        required: true
        type: string
      PUBLISH_ARTIFACTS_CHOICE:
        required: true
        type: string
      COMMIT_TAG:
        required: true
        type: string
      BRANCH_TO_DEPLOY_FROM:
        required: true
        type: string
      REFTOCHECKOUTFOR_PUBLISHERCONFIG:
        required: true
        type: string
# PUBLISH_ARTIFACTS_CHOICE has one allowed value when deploying to test
# "publish-delta-artifacts-in-specific-commit"
concurrency:
 group: publish-to-test-apim-instance-matrixjob
 cancel-in-progress: false

env:
  apiops_release_version: v7.0.0-alpha.3.0.1
  Logging__LogLevel__Default: ${{ vars.LOG_LEVEL }}
  COMMIT_TAG: ${{ inputs.COMMIT_TAG }}
  DEBUG_STEPS: ${{ vars.DEBUG_STEPS }}
  AZURE_CLIENT_ID: "eeccc658-b3d8-467d-85b9-b41f7df17769"
  API_MANAGEMENT_SERVICE_NAME: "feiaz-apim-test"
  AZURE_RESOURCE_GROUP_NAME: "apim"
  AZURE_SUBSCRIPTION_ID: "db73da55-ad6a-4d59-aeea-bba62c278f2a"
  AZURE_TENANT_ID: "21c9315b-cdc8-41c8-b30d-d4da2c5a804b"

jobs:
    Publish-Artifacts-to-Test-APIM:
     name: Publish-Artifacts-to-Test-APIM-From-Tag-${{ inputs.COMMIT_TAG }}
     ##################environment: test
     runs-on: ubuntu-latest
     ############environment: ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}
     steps:
      - name: Print-Input-From-Calling-Workflow
        id: print-input-from-calling-workflow
        run: |
         echo "apimanagementenvironment is ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}"
         echo "configurationyamlpath is ${{ inputs.CONFIGURATION_YAML_PATH }}"
         echo "apimanagementserviceoutputfolderpath is ${{ inputs.API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH }}"
         echo "publishartifactschoice is ${{ inputs.PUBLISH_ARTIFACTS_CHOICE }}"
         echo "COMMIT_TAG is: ${{ inputs.COMMIT_TAG }}"
         echo "branch to deploy artifacts from is: ${{ inputs.BRANCH_TO_DEPLOY_FROM }}"
         echo "ref for publisher config is: ${{ inputs.REFTOCHECKOUTFOR_PUBLISHERCONFIG }}"
      - name: Login-to-Azure-with-Federated-Identity
        if: ${{ !always() }}
        id: login-to-azure-with-federated-identity
        uses: azure/login@v2
        with:
          client-id: cbbb6866-4d3f-414f-a8ea-317e912b8319
          tenant-id: 21c9315b-cdc8-41c8-b30d-d4da2c5a804b
          subscription-id: db73da55-ad6a-4d59-aeea-bba62c278f2a
      - name: Get-Bearer-Token-for-APIOPS-Publisher
        if: ${{ !always() }} 
        id: get-bearer-token-for-apiops-publisher
        run: |
          AZURE_BEARER_TOKEN_JSON=$(az account get-access-token --resource https://management.azure.com/ | jq -r '.')
          AZURE_BEARER_TOKEN=$(echo "$AZURE_BEARER_TOKEN_JSON" | jq -r '.accessToken')
          echo "AZURE_BEARER_TOKEN="$AZURE_BEARER_TOKEN"" >> $GITHUB_ENV
          #Publisher apiops uses this env variable for authentication
      - name: Checkout-Test-Branch
        id: checkout-test-branch
        if: ${{ inputs.API_MANAGEMENT_ENVIRONMENT == 'test' }}
        uses: actions/checkout@v6
        with:
         ref: '${{ inputs.REFTOCHECKOUTFOR_PUBLISHERCONFIG }}'
      - name: Copy-ConfigurationOverride-File
        id: copy-configurationoverride-file
        if: ${{ inputs.API_MANAGEMENT_ENVIRONMENT == 'test' }}
        run: |
         echo "Copying override configuration file to runner.temp"
         if [ -f "${{ inputs.CONFIGURATION_YAML_PATH }}" ]
          then
           echo "File exists.Cat-ing override configuration file"
           cp ${{ inputs.CONFIGURATION_YAML_PATH }} ${RUNNER_TEMP}/configuration-publisher.yml
           cat ${RUNNER_TEMP}/configuration-publisher.yml
          else
           echo "File does not exist.Copying an empty file"
           cp /dev/null ${RUNNER_TEMP}/configuration-publisher.yml
         fi
         echo "Configuration override file location is:  ${{ runner.temp }}/configuration-publisher.yml"
      - name: Checkout-Artifacts-Branch
        id: checkout-artifacts-branch
        uses: actions/checkout@v6
        with:
         ref: '${{ inputs.COMMIT_TAG }}' ## when using specific commit such as deploying a rel tag or a specific commitid
         fetch-tags: 'true'
         fetch-depth: 50
      - name: List-Top-Level-Contents-Of-Artifacts-Folder
        id: list-top-level-contents-of-artifacts-folder
        if: ${{ env.DEBUG_STEPS == 'true' }}
        run: |
         echo "Listing the top level artifact directories"
         ls -al ${{ GITHUB.WORKSPACE }}/${{ inputs.API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH }} || true 
      - name: List-All-Artifacts-Files-Captured-In-the-Commit
        id: list-all-artifact-files-changes-captured-in-the-commit
        if: ${{ env.DEBUG_STEPS == 'true' && (inputs.PUBLISH_ARTIFACTS_CHOICE == 'publish-all-artifacts-in-repo-to-latest-commit' || inputs.PUBLISH_ARTIFACTS_CHOICE == 'publish-all-artifacts-in-repo-to-specific-commit') }}
        run: |
         echo "Listing all files in the repo"
         git ls-tree -r --name-only ${COMMIT_TAG}
      - name: List-Delta-Artifacts-Files-Captured-In-the-Commit
        id: list-delta-artifact-files-changes-captured-in-the-commit
        if: ${{ env.DEBUG_STEPS == 'true' && (inputs.PUBLISH_ARTIFACTS_CHOICE == 'publish-delta-artifacts-in-latest-commit' || inputs.PUBLISH_ARTIFACTS_CHOICE == 'publish-delta-artifacts-in-specific-commit') }}
        run:  |
         echo "Listing files changed in the commit"
         git diff --compact-summary --name-status -B -M -C ${COMMIT_TAG}^ ${COMMIT_TAG}
      - name: Convert-Tag-To-CommitID
        id: convert-tag-to-commitid
        run:  |
         COMMITID="$(git rev-list -n 1 ${{ inputs.COMMIT_TAG }})"
         echo "CommitID is $COMMITID"
         echo "COMMITID=${COMMITID}" >> "$GITHUB_ENV"
      - name: Print-PS-Environment-Variables
        if: ${{ env.DEBUG_STEPS == 'true' }} 
        id: printpsenvironmentvariables
        shell: pwsh      
        run: |
          Write-Information "Printing out all environment variables in the shell for debugging purpose"
          gci env:
      - name: Run-Publisher
        #if: ${{ !always() }} 
        id: run-publisher
        shell: pwsh
        env:
          # Other env variables are not added explicitly because they are assigned by workflow
          API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH: ${{ GITHUB.WORKSPACE }}/${{ inputs.API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH }}
          CONFIGURATION_YAML_PATH: ${{ runner.temp }}/configuration-publisher.yml
        run: |
          $publish_artifacts_choice="${{ inputs.PUBLISH_ARTIFACTS_CHOICE }}"
          if ($publish_artifacts_choice -eq "publish-delta-artifacts-in-latest-commit") 
          {
          Write-Output "User have chosen to publish Delta Artifacts in latest Commit (ie Delta between latest and previous commit)"
          $env:COMMIT_ID="$env:COMMITID"
          Write-Output "Commitid is $env:COMMITID"
          }
          
          if ($publish_artifacts_choice -eq "publish-delta-artifacts-in-specific-commit") 
          {
          Write-Output "User have chosen to publish Delta Artifacts in Specific Commit (ie Delta between specific and previous commit)"
          $env:COMMIT_ID="$env:COMMITID"
          Write-Output "Commitid is $env:COMMITID"
          }
          if ($publish_artifacts_choice -eq "publish-all-artifacts-in-repo-to-latest-commit") 
          {
          Write-Output "User have chosen to publish All Artifacts in the branch uptil the latest commit"
          Write-Output "Commitid is not set (NULL because ALL arificats is specified)"
          }
          if ($publish_artifacts_choice -eq "publish-all-artifacts-in-repo-to-specific-commit") 
          {
          Write-Output "User have chosen to publish All Artifacts in the branch uptill the specific commit"
          Write-Output "Commitid is not set (NULL because ALL arificats is specified)"
          }
          Set-StrictMode -Version Latest
          $ErrorActionPreference = "Stop"
          $VerbosePreference = "Continue"
          $InformationPreference = "Continue"

          Write-Information "Setting name variables..."
          $releaseFileName = "publisher-linux-x64.zip"
          $executableFileName = "publisher"

          if ("${{ runner.os }}" -like "*win*") {
            $releaseFileName = "publisher-win-x64.zip"
            $executableFileName = "publisher.exe"
          }
          elseif ("${{ runner.os }}" -like "*mac*" -and "${{ runner.arch }}" -like "*arm*") {
            $releaseFileName = "publisher-osx-arm64.zip"
          }
          elseif ("${{ runner.os }}" -like "*mac*" -and "${{ runner.arch }}" -like "*x86_64*") {
            $releaseFileName = "publisher-osx-x64.zip"
          }
          Write-Information "Downloading release..."
          $uri = "https://github.com/Azure/apiops/releases/download/${{ env.apiops_release_version }}/$releaseFileName"
          $downloadFilePath = Join-Path "${{ runner.temp }}" $releaseFileName
          Invoke-WebRequest -Uri "$uri" -OutFile "$downloadFilePath"
          
          Write-Information "Extracting release..."
          $executableFolderPath = Join-Path "${{ runner.temp }}" "publisher"
          Expand-Archive -Path "$downloadFilePath" -DestinationPath "$executableFolderPath"
          $executableFilePath = Join-Path "$executableFolderPath" $executableFileName

          Write-Information "Setting file permissions..."
          if ("${{ runner.os }}" -like "*linux*")
          {
            & chmod +x "$executableFilePath"
            if ($LASTEXITCODE -ne 0) { throw "Setting file permissions failed."}
          }

          Write-Information "Running publisher..."
          & "$executableFilePath"              
          if ($LASTEXITCODE -ne 0) { throw "Running publisher failed."}

          Write-Information "Execution complete."     
                   
