#Reusable workflow to generate matrix jobs for deployment to Test APIM instance
name: Publish-Artifacts-to-Test-APIM-Matrix-Jobs-Controller
run-name: Publish-Artifacts-to-Test-APIM-Matrix-Jobs-Controller
#Author martin francis kallukalam
on:
  workflow_call:
    inputs:
      MILESTONE_TITLE:
        required: true
        type: string
      API_MANAGEMENT_ENVIRONMENT:
        required: true
        type: string
      BRANCH_TO_DEPLOY_FROM:
        required: true
        type: string
env:
  foo: bar
jobs:
    Generate-Matrix-Jobs:
     name: Generate-Matrix-Jobs
     environment: ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}
     runs-on: ubuntu-latest
     outputs:
       matrix: ${{ steps.generate-matrix.outputs.matrix }}
     steps:
      - name: Print-Input-From-Calling-Workflow
        id: print-input-from-calling-workflow
        run: |
         echo "milestone is ${{ inputs.MILESTONE_TITLE }}"
         echo "apimanagementenvironment is ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}"
         echo "branch to deploy artifacts is ${{ inputs.BRANCH_TO_DEPLOY_FROM }}"
      - name: Generate-Matrix
        id: generate-matrix
        run: |
         DYNAMIC_ARRAY='["item1", "item2", "item3"]'
         echo "matrix=$DYNAMIC_ARRAY" >> $GITHUB_OUTPUT
      - name: Print
        id: print
        run: |
          echo ${{ steps.generate-matrix.outputs.matrix }}
         
    Publish-Artifacts-to-Test-APIM-For-CommitID:
     needs: Generate-Matrix-Jobs
     concurrency:
      group: publish-to-dev-apim-instance
      cancel-in-progress: false
     name: Publish-Artifacts-to-Test-APIM-For-CommitID
     environment: ${{ inputs.API_MANAGEMENT_ENVIRONMENT }}
     runs-on: ubuntu-latest
     strategy:
      max-parallel: 1
      matrix:
       commitid: ${{ fromJson(needs.Generate-Matrix-Jobs.outputs.matrix) }}
     steps:
      - name: Deploy of commit ${{ matrix.commitid }}
        id: print-input-from-calling-workflow
        run: |
         echo "Deploy of commit ${{ matrix.commitid }}"
