name: reusableworkflow
run-name: reusableworkflow
on:
  workflow_call:
   inputs:
    COMMITID:
     required: true
     type: string
    PUBLISH_ARTIFACTS_CHOICE:
     required: true
     type: string
    API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH:
     required: true
     type: string
    CONFIGURATION_YAML_PATH:
     required: true
     type: string
    API_MANAGEMENT_ENVIRONMENT:
     required: true
     type: string
    BRANCH_TO_DEPLOY_FROM:
     required: true
     type: string
    VARIABLE1:
     required: true
     type: string
jobs:
 reusableworkflow:
  runs-on: ubuntu-latest
  steps:
    - name: print values passedin
      shell: bash
      run: |
       echo "${{ inputs.COMMITID }}"
       echo "${{ inputs.PUBLISH_ARTIFACTS_CHOICE }}"
       echo "${{ inputs.API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH }}"
       echo "${{ inputs.CONFIGURATION_YAML_PATH }}"
       echo "${{ inputs.API_MANAGEMENT_ENVIRONMENT }}"
       echo "${{ inputs.BRANCH_TO_DEPLOY_FROM }}"
       echo "${{ inputs.VARIABLE1 }}"
       echo "${{ secrets.SECRET1 }}"
